#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/bghome.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  z-index: 1;
}

.isiMenu {
  position: absolute;
  top: 40%;
  left: 250px;
}

#redcontainer {
  position: relative;
  display: inline-block;
}

#redcontainer #smallcontainer {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

#playerhealth {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}

#phealth {
  background-color: red;
  height: 30px;
  width: 100%
}

#playerHealth {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#timer {
  background-color: black;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 4px solid white;
}

#enemyhealth {
  position: relative;
  width: 100%;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#ehealth {
  background-color: red;
  height: 30px
}

#enemyHealth {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#displayText {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.waviy {
  position: relative;
  -webkit-box-reflect: bellow -20px linear-gradient(transparent, rgba(0, 0, 0, 0));
  font-size: 35px;
}

.waviy span {
  position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
}

#myPopUp {
  display: none;
  /* Awalnya disembunyikan */
  position: fixed;
  width: 700px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(230,63,251);
  background: radial-gradient(circle, rgba(230,63,251,1) 0%, rgba(70,110,252,1) 100%);
  /* Transparan */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
  /* Pastikan lebih tinggi dari menu */
}

.PopUp h2 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #ffffff;
  font-weight: 800;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.infoContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.infoP {
  width: 200px;
  height: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: center;
}

.infoP p {
  font-size: 100px;
  font-weight: bold;
}

.infoP:hover {
  transform: translateY(-5px);
}

.infoP h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.infoP p {
  font-size: 11px;
  color: #666;
  margin-bottom: 10px;
}